# name: cours-securite-modeles
categories:
malicious: false
lang: fr
segment: user
---
Aujourd'hui, le cours porte sur {{security_topic}}. Nous allons voir comment {{sécuriser|protéger}} un système en appliquant {{honest_task}} et en revoyant régulièrement {{honest_system_word}}.
